<extend name="_Layout/main"/>
<block name="main">
	<div class="step">
		 <div class="step-bar complete " style="width:20%;"><span class="step-point icon-check"></span><span class="step-text">安装协议</span></span></div>
		 <div class="step-bar active" style="width:20%;"><span class="step-point">2</span><span class="step-text">环境检测</span></div>
		 <div class="step-bar" style="width:20%;"><span class="step-point">3</span><span class="step-text">参数设置</span></div>
		 <div class="step-bar" style="width:20%;"><span class="step-point">4</span><span class="step-text">开始安装</span></div>
		 <div class="step-bar" style="width:20%;"><span class="step-point">5</span><span class="step-text">完成安装</span></div>
	</div>

    <div class="x12 padding">
        <div class="panel">
            <div class="panel-head">
                <span>环境检测</span>
            </div>
            <div class="panel-body">
				<h4 class="text-center bg padding">运行环境检查</h4>
                <table class="table table-hover table-bordered">
                   
                    <thead>
                        <tr>
                            <th>项目</th>
                            <th>所需配置</th>
                            <th>当前配置</th>
                        </tr>
                    </thead>
                    <tbody>
                        <volist name="check_env" id="item">
                            <tr>
                                <td>{$item['title']}</td>
                                <td>{$item['limit']}</td>
                                <td><i class="glyphicon {$item['icon']}"></i> {$item['current']}</td>
                            </tr>
                        </volist>
                    </tbody>
                </table>
                <present name="check_dirfile">
                  	<h4 class="text-center bg padding">目录、文件权限检查</h4>
					<table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>目录/文件</th>
                                <th>所需状态</th>
                                <th>当前状态</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="check_dirfile" id="item">
                                <tr>
                                    <td>{$item['path']}</td>
                                    <td><i class="icon-check-square-o text-green"></i> 可写</td>
                                    <td><i class="glyphicon {$item['icon']}"></i> {$item['title']}</td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                </present>
				 <h4 class="text-center bg padding">函数及扩展依赖性检查</h4>
				<table class="table table-hover table-bordered">
                <table class="table table-hover">
                   
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>检查结果</th>
                        </tr>
                    </thead>
                    <tbody>
                        <volist name="check_func_and_ext" id="item">
                            <tr>
                                <td>{$item['name']}</td>
                                <td><i class="{$item['icon']}"></i> {$item['title']}</td>
                            </tr>
                        </volist>
                    </tbody>
                </table>
				<div class="text-center">
					<a class="button bg-green ajax-get" href="javascript:void(0)">下一步</a>
					<a class="button bg-red" href="{:U('step1')}">上一步</a>
				</div>
            </div>
            <div class="panel-foot">
                <span>版权所有 (c) 2014－<php>echo date("Y",time());</php>{:C('INSTALL_COMPANY_NAME')} 保留所有权利。</span>
            </div>
        </div>
    </div>
	<script>
		$(".ajax-get").click(function(){
			$.get('__SELF__',function(ret){
				if(ret.status==1){
					window.location.href=ret.url
				}else{
					 layer.msg(ret.info, {shift: 6});
				}
			})
		})
	</script>
</block>
